.form-elements__element-wrapper.element__wrapper.element__width-middle
  .element__description
    label.range-slider__label(for="range-min" id="range-label-min") 5 000₽
    i= " - "
    label.range-slider__label(for="range-max" id="range-label-max") 10 000₽
  .element__label Range Slider
  .element__input.range-slider__input-wrapper#range-input-wrapper
    input.range-slider__input.range-slider__input_unactive(type="range" max="15000" step="100" value="5000" id="range-min")
    input.range-slider__input.range-slider__input_unactive(type="range" max="15000" step="100" value="10000" id="range-max")