fieldset.form-elements__element-wrapper.form-elements__mid-element.input-buttons.toggle
  legend.form-elements__element-label.input-buttons__legend Toggle
  .input-buttons__input-wrapper
    input(type='checkbox' checked).input-buttons__input.radio-buttons__input.toggle__input#get-spec
    label(for='get-spec').input-buttons__input-label Получать спецпредложения
  .input-buttons__input-wrapper
    input(type='checkbox').input-buttons__input.radio-buttons__input.toggle__input#get-spec-test
    label(for='get-spec-test').input-buttons__input-label Получать спецпредложения