fieldset.form-elements__element-wrapper.form-elements__mid-element.input-buttons.checkbox-buttons
  legend.form-elements__element-label.input-buttons__legend Toggle
  .input-buttons__input-wrapper
    input(type='checkbox' checked).input-buttons__input.checkbox-buttons__input#get-spec
    label(for='get-spec').input-buttons__input-label Получать спецпредложения
  .input-buttons__input-wrapper
    input(type='checkbox').input-buttons__input.checkbox-buttons__input#not-get-spec
    label(for='not-get-spec').input-buttons__input-label Получать спецпредложения