.toggle {
  flex-direction: column;
  row-gap: 1rem;

  &__input {
    justify-content: start;
    width: 4rem;
    height: 2rem;
    padding: 0.4rem;
    border-radius: 1rem;

    & + .input-buttons__input-label {
      color: $color-dark-shade-75;
    }

    &::after {
      content: '';
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      background: $color-dark-shade-25;
      border-radius: 50%;
      transform: translateX(0);
    }

    &:checked {
      &::after {
        @include primary-gradient($property: background, $direction: bottom);

        transform: translateX(1.8rem);
      }
    }
  }
}
