mixin toggle(toggleData)
  .input-buttons__input-wrapper
    input(type='checkbox' checked=toggleData.checked id=toggleData.id).input-buttons__input.toggle__input
    label(for=toggleData.id).input-buttons__input-label Получать спецпредложения