mixin option(optionData)
  option&attributes(attributes)= optionData.text

mixin select(selectData)
  .element__wrapper.element__wide
    label.element__label(for!= selectData.id)= selectData.label
    select.element__input(id = selectData.id)
      +option({text: selectData.optionText})(disabled selected value="")
    i.material-icons.element__icon expand_more