doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="../common/img/favicon.ico", type="image/x-icon")
    link(href="./index.scss" rel="stylesheet")
    title Main page
  body
    header.service-page__block.service-page__header
      h1.service-page__title Main page
    main.service-page__block.service-page__main
      ul.service-page__ul
        li.service-page__li
          a(href='./ui-kit.html' target="_blank" rel="noopener noreferrer") UI kit
        li.service-page__li
          a(href='./website-pages.html' target="_blank" rel="noopener noreferrer") Website pages