.like-button {
  &__input-wrapper {
    position: relative;
  }

  &__input {
    justify-content: left;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;

    & ~ .like-button__icon_checked {
      opacity: 0;
    }

    &:checked {
      & ~ .like-button__icon_checked {
        @include primary-gradient($property: background, $direction: bottom);

        background-clip: text;
        opacity: 1;
        -webkit-text-fill-color: transparent;
      }

      & ~ .like-button__icon_unchecked {
        opacity: 0;
      }

      & ~ .like-button__input-label {
        color: $color-purple;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    display: block;
    font-size: 1em;
    color: $color-dark-shade-25;
  }

  &__input-label {
    position: absolute;
    top: 0.4rem;
    left: 2.2rem;
    color: $color-dark-shade-25;
  }
}
