.colors {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &__color-block {
    display: flex;
    align-items: center;
    column-gap: 4rem;

    &:nth-child(1) {
      & > .colors__color {
        background-color: $color-dark-shade-100;
      }
    }

    &:nth-child(2) {
      & > .colors__color {
        background-color: $color-dark-shade-75;
      }
    }

    &:nth-child(3) {
      & > .colors__color {
        background-color: $color-dark-shade-50;
      }
    }

    &:nth-child(4) {
      & > .colors__color {
        background-color: $color-dark-shade-25;
      }
    }

    &:nth-child(5) {
      & > .colors__color {
        background-color: $color-dark-shade-5;
      }
    }

    &:nth-child(6) {
      & > .colors__color {
        background-color: $color-purple;
      }
    }

    &:nth-child(7) {
      & > .colors__color {
        background-color: $color-green;
      }
    }
  }

  &__color {
    width: 7rem;
    height: 7rem;
    border-radius: 0.7rem;
  }

  &__name {
    font-weight: 700;
    font-size: 1.9em;
    color: $color-dark-shade-100;
  }

  &__description {
    font-size: 1.9em;
    color: $color-dark-shade-100;
  }
}
