.radio-buttons {
  flex-direction: row;

  &__input {
    border-radius: 50%;

    &:checked {
      &::after {
        background: linear-gradient(to bottom, $color-purple, $color-blue);
      }
    }

    &:checked + .input-buttons__input-label {
      color: $color-dark-shade-75;
    }

    &::after {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
    }
  }
}
