fieldset.form-elements__element-wrapper.radio-buttons
  legend.form-elements__element-label Radio Buttons
  .radio-buttons__input-wrapper
    input(type='radio').radio-buttons__input#gender-man
    label(for='gender-man' checked).radio-buttons__input-label Мужчина
  .radio-buttons__input-wrapper
    input(type='radio').radio-buttons__input#gender-woman
    label(for='gender-woman').radio-buttons__input-label Женщина