include ../logo/logo
include ../menu-header/menu-header

mixin header(data)
  header.header-footer__wrapper.header__wrapper 
    .header.wrapper
      +logo()
      +menu-header({noUser: data.noUser, userName: data.userName, activeAboutUs: data.activeAboutUs})
