.checkbox-buttons {
  row-gap: 1rem;

  &__input {
    border-radius: 0.4rem;

    &::after {
      width: 0.6rem;
      height: 0.8rem;
      border: 0.2rem solid transparent;
      border-top: 0;
      border-left: 0;

      @include primary-gradient($property: border-image, $direction: left bottom);

      border-image-slice: 1;
      transform: rotate(45deg);
    }
  }
}
