.checkbox-buttons {
  flex-direction: column;

  &__input {
    border-radius: 0.4rem;

    &::after {
      width: 0.6rem;
      height: 0.8rem;
      border: 0.2rem solid transparent;
      border-top: 0;
      border-left: 0;
      border-image: linear-gradient(to left bottom, $color-purple, $color-blue);
      border-image-slice: 1;
      transform: rotate(45deg);
    }
  }
}
