fieldset.form-elements__element-wrapper.form-elements__mid-element
  legend.form-elements__element-label Checkbox Buttons
  input(type='checkbox')#smoke
  label(for='smoke') Можно курить
  input(type='checkbox' checked)#pets
  label(for='pets') Можно с питомцами
  input(type='checkbox' checked)#guests
  label(for='guests') Можно пригласить гостей (до 10 человек)