fieldset.form-elements__element-wrapper.checkbox-buttons
  legend.form-elements__element-label.checkbox-buttons__legend Checkbox Buttons
  .checkbox-buttons__input-wrapper
    input(type='checkbox').checkbox-buttons__input#smoke
    label(for='smoke').checkbox-buttons__input-label Можно курить
  .checkbox-buttons__input-wrapper
    input(type='checkbox' checked).checkbox-buttons__input#pets
    label(for='pets').checkbox-buttons__input-label Можно с питомцами
  .checkbox-buttons__input-wrapper
    input(type='checkbox' checked).checkbox-buttons__input#guests
    label(for='guests').checkbox-buttons__input-label Можно пригласить гостей (до 10 человек)