mixin checkbox-buttons(data)
  fieldset.element__wrapper.element__width-tight.checkbox-buttons
    legend.element__label.input-buttons__legend= data.title
    .input-buttons__input-wrapper
      input(type="checkbox").input-buttons__input.checkbox-buttons__input#smoke
      label(for="smoke").input-buttons__input-label Можно курить
    .input-buttons__input-wrapper
      input(type="checkbox" checked).input-buttons__input.checkbox-buttons__input#pets
      label(for="pets").input-buttons__input-label Можно с питомцами
    .input-buttons__input-wrapper
      input(type="checkbox" checked).input-buttons__input.checkbox-buttons__input#guests
      label(for="guests").input-buttons__input-label Можно пригласить гостей (до 10 человек)