.checkbox-buttons {
  display: flex;
  flex-direction: column;
  max-width: 22.2rem;
  row-gap: 1rem;

  &__legend {
    padding-bottom: 1.6rem;
  }

  &__input-wrapper {
    display: flex;
    column-gap: 1rem;
  }

  &__input {
    position: relative;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid $color-dark-shade-25;
    border-radius: 0.4rem;
    cursor: pointer;

    &:checked {
      border-color: $color-purple;

      &::after {
        content: '';
      }
    }

    &::after {
      position: absolute;
      top: 0.4rem;
      left: 0.6rem;
      width: 0.6rem;
      height: 0.8rem;
      border: 0.2rem solid transparent;
      border-top: 0;
      border-left: 0;
      border-image: linear-gradient(to left bottom, $color-purple, $color-blue);
      border-image-slice: 1;
      transform: rotate(45deg);
    }
  }

  &__input-label {
    font-size: 1.4em;
    color: $color-dark-shade-50;
  }
}
