.comment {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 1.2rem 1rem;

  &__photo {
    width: 4.8rem;
    height: 4.8rem;
    border: 0.2rem solid #ffffff;
    border-radius: 50%;
    filter: drop-shadow(0 1rem 2rem $color-dark-shade-10);
  }

  &__header {
    display: flex;
    row-gap: 0.7rem;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4em;
  }

  &__name {
    font-weight: 700;
  }

  &__likes {
    margin: 0 auto;
  }

  &__text {
    font-size: 1.4em;
    line-height: 1.7;
  }
}
