include ../like-button/like-button

mixin comment(data)
  .comment 
    img.comment__photo(src=data.photoSrc)
    .comment__header
      .comment__name= data.name
      .comment__date= data.date
    .comment__likes
      +like-button({checked: data.likeChecked, id: data.id+"like", value: data.likes})
    .comment__text-wrapper
      each text in data.arrText
        .comment__text= text