.dropdown {
  &__input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__expand {
    position: absolute;
    top: 6.3rem;
    z-index: -1;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    order: 3;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-top: 0.1rem solid transparent;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  &__options-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    height: 0;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__set-option-wrapper {
    display: flex;
    column-gap: 0.7rem;
  }

  &__set-option-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.8em;
    color: $color-dark-shade-50;
    border: 0.1rem solid $color-dark-shade-25;
    border-radius: 50%;

    &_unactive {
      opacity: 0.38;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__option-num {
    width: 1.6rem;
    text-align: center;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    height: 0;
  }

  &__unactive-button {
    opacity: 0;
  }
}

.dropdown__checkbox:checked {
  ~ .dropdown__expand {
    z-index: 1;
    row-gap: 2rem;
    padding: 0.7rem 0.7rem 0.7rem 1.5rem;
    border: 0.1rem solid $color-dark-shade-50;

    & .dropdown__options-wrapper {
      height: 10.3rem;
    }

    & .dropdown__buttons-wrapper {
      height: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  ~ .dropdown__input {
    border-color: $color-dark-shade-50;
  }
}

