.dropdown {
  &__checkbox {
    &:checked {
      ~ .dropdown__expand {
        height: 100px;
      }
    }
  }

  &__input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__expand {
    position: absolute;
    top: 6.4rem;
    order: 3;
    width: 100%;
    height: 0;
    background: #00ffff;
  }

  &__option {
    position: relative;
  }

  .element__icon {
    z-index: -1;
  }
}
