include ../header/header
include ../filter-date/filter-date
include ../dropdown/dropdown
include ../range-slider/range-slider
include ../checkbox-buttons/checkbox-buttons
include ../rich-checkbox-buttons/rich-checkbox-buttons
include ../expand-checkbox-list/expand-checkbox-list

mixin search-room(data)
  doctype html
  html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon", href="../common/img/favicon.ico", type="image/x-icon")
      link(href="../index/index.scss" rel="stylesheet")
      script(src="./search-room.js" defer) 
      title= data.title
    body.page__body
      h1.title Поиск номера в Toxin отель.
      +header({noUser: true})
      main.page__main.wrapper.search-room__main-wrapper
        aside.element__width-middle.search-room__aside
          .search-room__aside-child
            +filter-date({title: "даты пребывания в отеле"})
          .search-room__aside-child
            +dropdown({id: "search-room-dropdown-guests", title: "гости", type: "guests", expanded: false, withData: true, withBaby: true})
          .search-room__aside-child
            +range-slider({id: "range", title: "диапазон цены", description: true})
          .search-room__aside-child
            +checkbox-buttons({title: "правила дома"})
          .search-room__aside-child
            +rich-checkbox-buttons({title: "доступность"})
          .search-room__aside-child
            +dropdown({id: "dropdown-convenience", title: "удобства номера", withData: true})
          .search-room__aside-child
            +expand-checkbox-list({id: "expand-checkbox-list", label: "дополнительные удобства"})
        section.search-room__results
          h2.type__h2 Номера, которые мы для вас подобрали