.search-room {
  &__main-wrapper {
    padding-top: 3rem;
    padding-bottom: 7.5rem;
    border-bottom: 0.1rem solid $color-dark-shade-25;

    .pagination__wrapper {
      position: relative;
      right: 0.7rem;
    }
  }

  &__main {
    column-gap: 6rem;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
  }

  &__aside-child {
    &:nth-child(2) {
      margin-top: 0.4rem;
    }

    &:nth-child(3),
    &:nth-child(6) {
      margin-top: 1.3rem;
    }

    &:nth-child(4) {
      margin-top: 0.7rem;
    }

    &:nth-child(5) {
      margin-top: 1.6rem;
    }
  }

  &__rooms-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.1rem;
    margin-bottom: 4rem;
    gap: 2.1rem 1.2rem;
  }
}
