mixin rich-checkbox-buttons(data)
  .element__wrapper.element__width-middle.rich-checkbox-buttons
    .element__label.rich-checkbox-buttons__label= data.title
    .input-buttons__input-wrapper
      input(type="checkbox").input-buttons__input.checkbox-buttons__input#wide-hall
      label(for="wide-hall").rich-checkbox-buttons__input-label
        span.rich-checkbox-buttons__input-label-title Широкий коридор
        span.rich-checkbox-buttons__input-label-descript Ширина коридоров в номере<br> не менее 91 см.
    .input-buttons__input-wrapper
      input(type="checkbox").input-buttons__input.checkbox-buttons__input#inval-assist
      label(for="inval-assist").rich-checkbox-buttons__input-label
        span.rich-checkbox-buttons__input-label-title Помощник для инвалидов
        span.rich-checkbox-buttons__input-label-descript На 1 этаже вас встретит специалист<br> и проводит до номера.