include ../date-group/date-group
include ../dropdown/dropdown

mixin card-room-cost
  .card.card-room-cost
    form.card__form
    .card-room-cost__header
      .card-room-cost__title-wrapper
        h3.card-room-cost__title
          span.card-room-cost__num-sign № 
          span.card__title 888
        .card-room-cost__lux-descr люкс
      .card-room-cost__price-wrapper
        span.card-room-cost__price 9 990₽ 
        span.card-room-cost__price-descr в сутки
    +date-group({id: "card-room-cost-date", firstDateLabel: "прибытие", secondDateLabel: "выезд"})
    +dropdown({id: "card-room-cost-dropdown", label: "гости", type: "guests", withData: true})