.card-room-cost {
  padding-bottom: 3rem;

  &__form {
    row-gap: 2.1rem;
  }

  &__price-strings-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__price-string-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 1.4em;
    column-gap: 0.6rem;
  }

  &__string-text {
    max-width: 21.4rem;
  }

  &__string-info {
    position: relative;
    bottom: 0.2rem;
  }

  &__string-info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid $color-dark-shade-25;
    border-radius: 50%;
  }

  &__string-price {
    flex-grow: 1;
    text-align: end;
  }

  &__footer {
    padding-top: 1.4rem;
    row-gap: 2rem;
  }

  &__result-string {
    position: relative;
    display: flex;
    width: 100%;
    font-weight: 700;
    font-size: 1.9em;
    color: $color-dark-shade-100;
  }

  &__result-dots {
    position: relative;
    bottom: 0.5rem;
    flex-grow: 1;
    border-bottom: 0.1rem dotted $color-dark-shade-25;
  }
}
