include ../header/header
include ../room-info/room-info
include ../comment/comment
include ../bullet-list/bullet-list
include ../card-room-cost/card-room-cost
include ../footer/footer

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="../common/img/favicon.ico", type="image/x-icon")
    link(href="../index/index.scss" rel="stylesheet")
    script(src="../search-room/search-room.js" defer) 
    title Room details
  body.page__body
    +header({noUser: true})
    main.room-details__main-wrapper
      section 
        h1.title Номер 888
        .room-details__images
          .room-details__img-wrapper
            img.room-details__img(src='../common/img/room-details-888-1.jpg')
          .room-details__img-wrapper
            img.room-details__img(src='../common/img/room-details-888-2.jpg')
          .room-details__img-wrapper
            img.room-details__img(src='../common/img/room-details-888-3.jpg')
        .page__content-wrapper
          .page__content.room-details__main
            .room-details__main-child-block
              h2.type__h2.room-details__block-title Сведения о номере
              +room-info({comfort: true, convience: true, cosiness: true})
            .room-details__main-child-block 
              h2.type__h2.room-details__block-title Впечатления от номера
              .room-details__diagram 
                .room-details__diagram-circle
                  .room-details__diagram-inner-elem.room-details__diagram-satisfact
                  .room-details__diagram-inner-elem.room-details__diagram-good
                  .room-details__diagram-inner-elem.room-details__diagram-fabulous
                  .room-details__diagram-inner-elem.room-details__diagram-voices-info
                    .room-details__diagram-voices-num 260
                    .room-details__diagram-voices-text голосов
                ul.room-details__diagram-legend
                  li.room-details__diagram-legend-item Великолепно
                  li.room-details__diagram-legend-item Хорошо
                  li.room-details__diagram-legend-item Удовлетворительно
                  li.room-details__diagram-legend-item Разочарован
            .room-details__main-child-block.room-details__reviews-block-wrapper
              h2.type__h2.room-details__block-title Отзывы посетителей номера
              p.room-details__reviews-subtitle 2 отзыва
              .room-details__reviews
                +comment({
                  id: "comment", 
                  photoSrc: "../common/img/photo-sarafanov.jpg", 
                  name: "Мурад Сарафанов", 
                  date: "5 дней назад", 
                  likes: 12, 
                  likeChecked: true,
                  arrText: [
                    "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.",
                    "И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
                  ]
                })
                +comment({
                  id: "comment-2", 
                  photoSrc: "../common/img/photo-steklyshkova.jpg", 
                  name: "Патрисия Стёклышкова", 
                  date: "Неделю назад", 
                  likes: 2, 
                  arrText: [
                    "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
                  ]
                })
            .room-details__main-child-block
              h2.type__h2.room-details__block-title.room-details__rules-title Правила
              +bullet-list()
            .room-details__main-child-block.room-details__cancel
              h2.type__h2.room-details__block-title Отмена
              p.room-details__paragraph Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            .room-details__main-child-block.room-details__card-block
              +card-room-cost()
    +footer()