include ../header/header
include ../room-info/room-info

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="../common/img/favicon.ico", type="image/x-icon")
    link(href="../index/index.scss" rel="stylesheet")
    script(src="../search-room/search-room.js" defer) 
    title Room details
  body.page__body
    +header({noUser: true})
    main
      section 
        h1.title Номер 888
        .room-details__images
          .room-details__img-wrapper
            img.room-details__img(src='../common/img/room-details-888-1.jpg')
          .room-details__img-wrapper
            img.room-details__img(src='../common/img/room-details-888-2.jpg')
          .room-details__img-wrapper
            img.room-details__img(src='../common/img/room-details-888-3.jpg')
        .room-details__main-wrapper.wrapper
          .room-details__main
            .room-details__main-block 
              h2.type__h2.room-details__block-title Сведения о номере
              +room-info({comfort: true, convience: true, cosiness: true})
            .room-details__main-block 
              h2.type__h2.room-details__block-title Впечатления от номера
              .room-details__diagram 
                .room-details__diagram-circle
                  .room-details__diagram-inner-elem.room-details__diagram-satisfact
                  .room-details__diagram-inner-elem.room-details__diagram-good
                  .room-details__diagram-inner-elem.room-details__diagram-fabulous
                  .room-details__diagram-inner-elem.room-details__diagram-voices-info
                    .room-details__diagram-voices-num 260
                    .room-details__diagram-voices-text голосов
                ul.room-details__diagram-legend
                  li.room-details__diagram-legend-item Великолепно
                  li.room-details__diagram-legend-item Хорошо
                  li.room-details__diagram-legend-item Удовлетворительно
                  li.room-details__diagram-legend-item Разочарован
