mixin card-login
  .card.card-login
    .card__background
    form.card__form.card-login__form
      h3.card__title Войти
      fieldset.card__fieldset 
        +input({id: "card-login-email", placeholder: "Email"})(type="email")
        +input({id: "card-login-pass", placeholder: "Пароль"})
      +button({size:"large", color:"dark", text: "войти", withArrow: true})
      .card__footer
        a(href="#").card__link Нет аккаунта на Toxin?
        +button({size:"small", color:"light", text: "создать"}) 