include ../input/input
include ../radio-buttons/radio-buttons
include ../buttons/button
include ../toggle/toggle

mixin card-reg-account
  .card
    .card__background
    form.card__form
      h3.card__title Регистрация аккаунта
      fieldset.card__fieldset
        +input({id: "card-reg-account-name", placeholder: "Имя"})
        +input({id: "card-reg-account-surname", placeholder: "Фамилия"})
        +radio-buttons({label: false})
      +input({id: "card-reg-account-birth-date", label: "дата рождения", placeholder: "ДД.ММ.ГГГГ", pattern: "(0[1-9]|[12][0-9]|3[01]).(0[1-9]|1[012]).202[4-6]", title: "Введите дату в формате ДД.ММ.ГГГГ"})
      div.element__wrapper
        label.element__label данные для входа в сервис
        fieldset.card__fieldset
          +input({id: "card-reg-account-email", placeholder: "Email"})(type="email")
          +input({id: "card-reg-account-pass", placeholder: "Пароль"})
          +toggle({checked: false, id: "card-reg-account-get-spec"})
      +button({size:"large", color:"dark", text: "перейти к оплате", withArrow: true})
      .card__footer
        a(href="#").card__link Уже есть аккаунт на Toxin
        +button({size:"small", color:"light", text: "войти"}) 
