include ../header/header
include ../card-reg-account/card-reg-account
include ../card-login/card-login
include ../footer/footer

mixin sign-page(data)
  doctype html
  html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon", href="../common/img/favicon.ico", type="image/x-icon")
      link(href="../index/index.scss" rel="stylesheet")
      title= data.title
    body.page__body
      h1.title Toxin отель.
      +header({noUser: true})
      main.page__main-wrapper.sign-page__main-wrapper(class = data.registration == true ? "registration-page__main-wrapper" : "sign-in-page__main-wrapper")
        .page__main-background.sign-page__background
        if data.registration == true
          +card-reg-account()
        if data.signIn == true
          +card-login()
      +footer()