.sign-page {
  &__main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.9rem;
  }

  &__background {
    background-image: url('../common/img/background-sign-page.jpg');
  }

  @media (width < 480px) {
    &__main-wrapper .button-dark {
      height: 2.5rem;
    }
  }
}
