.rate-button {
  &__label {
    &:hover {
      cursor: pointer;
    }

    &::after {
      content: 'star_border';

      @include text-gradient(bottom);
    }
  }

  &__label_active::after {
    content: 'star';
  }

  @media (width <= 479px) {
    &__label {
      font-size: 1.6em;
    }
  }
}
