mixin rate-button(data)
  form(action="#" id=data.id).rate-button__form
   - for (let i = 1; i < 6; i += 1)
      - const checked = data.checked >= i
      input(type="radio", value="rate-"+i name="rate" id=data.id+"-st-"+i).rate-button__input
      label(for=data.id+"-st-"+i class=checked?"rate-button__label_active":"").material-icons.rate-button__label
