include ../header/header
include ../card-find-room/card-find-room
include ../footer/footer

mixin landing-page(data)
  doctype html
  html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon", href="../common/img/favicon.ico", type="image/x-icon")
      link(href="../index/index.scss" rel="stylesheet")
      title= data.title
    body.page__body
      h1.title Toxin отель.
      +header({noUser: true})
      main.page__main-wrapper 
        .page__main-background
        .page__main.wrapper.landing-page__main
          +card-find-room({id: data.id, activeCalendar: data.withCalendar, expandGuests: data.expandGuests, withGuests: data.withGuests})
          .page__info Лучшие номера для вашей работы, отдыха и просто вдохновения
      +footer()