include ../header/header
include ../footer/footer
include ../logo/logo
include ../copyright/copyright
include ../socials/socials

.screen-wrapper.headers-and-footers
  h2.title Headers & Footers
  .screen-wrapper__dark-background
  .headers-and-footers__wrapper
    +header({noUser: true})
    +header({userName: 'Юлий Цезарь'})
    +footer()
    .headers-and-footers__tight-footer
      +footer()