include ../landing-page/landing-page

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="../common/img/favicon.ico", type="image/x-icon")
    link(href="../index/index.scss" rel="stylesheet")
    title Website pages
  body
    header.service-page__block.service-page__header
      h1.service-page__title Website pages
    main.service-page__block.service-page__main
      ul.service-page__ul
        li.service-page__li
          a(href='./landing-page.html' target="_blank" rel="noopener noreferrer") Landing page
        li.service-page__li
          a(href='./landing-page-with-date.html' target="_blank" rel="noopener noreferrer") Landing page/Dates Dropdown
        li.service-page__li
          a(href='./landing-page-with-guests.html' target="_blank" rel="noopener noreferrer") Landing page/Guests Dropdown
        li.service-page__li
          a(href='./search-room-filter.html' target="_blank" rel="noopener noreferrer") Search room/Filter
        li.service-page__li
          a(href='./search-room-preferences.html' target="_blank" rel="noopener noreferrer") Search room/Filter/Preferences Dropdown
        li.service-page__li
          a(href='./search-room-expand.html' target="_blank" rel="noopener noreferrer") Search room/Filter/Preferences Expandable Checkbox list
        li.service-page__li
          a(href='./room-details.html' target="_blank" rel="noopener noreferrer") Room details
        li.service-page__li
          a(href='./registration.html' target="_blank" rel="noopener noreferrer") Registration