%title {
  font-weight: 700;
  color: $color-dark-shade-100;
}

.type {
  display: flex;
  margin-block: 0;
  flex-direction: column;
  padding: 0;
  row-gap: 5.1rem;

  &__description {
    max-width: 15.7em;

    &.type__h2 {
      max-width: 17em;
    }

    &.type__body {
      max-width: 20em;
      line-height: 1.7;
    }
  }

  &__h1 {
    @extend %title;

    font-size: 2.4em;
  }

  &__h2 {
    @extend %title;

    font-size: 1.9em;
  }

  &__h3 {
    @extend %title;

    font-size: 1.2em;
    text-transform: uppercase;
  }

  &__body {
    font-size: 1.4em;
    color: $color-dark-shade-75;
  }

  &__group-elemens {
    max-width: 39%;
  }

  &__type-block {
    display: flex;
    column-gap: 3rem;
  }

  &__name {
    width: 3.7rem;
    text-align: end;
    color: $color-dark-shade-25;
  }
}
