-
  const arrTypes = [
    {name: "H1", description:"This one is the sub-section or widget title"},
    {name: "H2", description:"Next one is the item title inside widgets"},
    {name: "H3", description:"This is a label or CTA text"},
    {name: "Body", description:"This is the body text which is used for most of the design, like paragraphs, lists, etc."}
  ]

mixin type(typeItem)
  li.type__type-block
    div(class="type__name type__" + (typeItem.name).toLowerCase()) #{typeItem.name}
    div(class="type__description type__" + (typeItem.name).toLowerCase()) #{typeItem.description}

h3.title Types
ul.type
  each item in arrTypes
    +type(item)