include ../buttons/button

mixin card-calendar(data)
  .card.card_small-shadow.card-calendar(
    class = data.active ==  true ? "card-calendar_active" : ""
  )
    .card__background
    .card__header.card-calendar__header
      .material-icons.card-calendar__prev-month arrow_back
      h3.card__title.card-calendar__title Август 2019
      .material-icons.card-calendar__next-month arrow_forward
    .card-calendar__calendar-wrapper
      .card-calendar__days-names
        each day in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
          .card-calendar__calendar-item.card-calendar__day-name= day
      .card-calendar__dates-wrapper
        each date in [{"value": 29, "descr": "unactive"},{"value": 30, "descr": "unactive"}, {"value": 31,"descr": "unactive"},  {"value": 1}, {"value": 2}, {"value": 3}, {"value": 4}, {"value": 5}, {"value": 6}, {"value": 7}, {"value": 8,"descr": "today"},  {"value": 9}, {"value": 10}, {"value": 11}, {"value": 12}, {"value": 13},  {"value": 14}, {"value": 15}, {"value": 16}, {"value": 17}, {"value": 18},  {"value": 19,"descr": "selectedStart"}, {"value": 20,"descr": "selected"}, {"value": 21,"descr": "selected"}, {"value": 22,"descr": "selected"}, {"value": 23,"descr": "selectedEnd"}, {"value": 24}, {"value": 25}, {"value": 26}, {"value": 27}, {"value": 28}, {"value": 29}, {"value": 30}, {"value": 31}, {"value": 1,"descr": "unactive"}]
          .card-calendar__calendar-item.card-calendar__date(
            class = date.descr == 'unactive' ? 'card-calendar__date_unactive' :
              date.descr == 'today' ? 'card-calendar__date-today' : 
              date.descr == 'selectedStart' ? 'card-calendar__date-selected-start' : 
              date.descr == 'selectedEnd' ? 'card-calendar__date-selected-end' : 
              date.descr == 'selected' ? 'card-calendar__date-selected' : ''
              )= date.value
      .card-calendar__buttons-wrapper
        +button({type:"link", text: "очистить"})
        +button({type:"link", text: "применить"})
