.card-calendar {
  position: absolute;
  top: -100%;
  z-index: 1;
  display: none;
  width: 32rem;
  padding: 1.9rem;
  background-color: #ffffff;
  border: 0.1rem solid $color-dark-shade-25;
  opacity: 0;

  &_active {
    top: 18.9rem;
    display: initial;
    opacity: 1;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__prev-month,
  &__next-month {
    position: relative;
    color: $color-purple;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    flex-grow: 1;
    font-size: 1.9em;
    text-align: center;
  }

  &__calendar-wrapper {
    padding-top: 3rem;
  }

  &__calendar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.97rem;
    height: 4rem;
    font-size: 1.2em;
  }

  &__days-names {
    position: relative;
    display: flex;
  }

  &__day-name {
    font-weight: 700;
    color: $color-purple;
  }

  &__dates-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__date {
    position: relative;
    color: $color-dark-shade-50;

    &_unactive {
      color: $color-dark-shade-25;
    }
  }

  &__date-today {
    @include colored-circle-with-text('green');
  }

  &__date-selected-start,
  &__date-selected-end {
    @include colored-circle-with-text('purple');

    &::before {
      z-index: -1;
    }
  }

  &__date-selected-start::before,
  &__date-selected-end::before,
  &__date-selected-border::before,
  &__date-selected::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    width: 3.98rem;
    height: 4rem;
    opacity: 0.25;

    @include primary-gradient($property: background, $direction: bottom);
  }

  &__date-selected-start::before {
    border-start-start-radius: 50%;
    border-end-start-radius: 50%;
  }

  &__date-selected-end::before {
    border-start-end-radius: 50%;
    border-end-end-radius: 50%;
  }

  &__date-selected-start::after,
  &__date-selected-end::after {
    content: ' ';
    position: absolute;
    z-index: -1;
    width: 2rem;
    height: 2rem;
    background: #ffffff;
  }

  &__buttons-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
}
