.form-subscribe-email {
  row-gap: 1.4rem;

  &__description {
    padding-bottom: 0.7rem;
    font-size: 1.4em;
    line-height: 1.7;
  }

  .element__icon {
    @include text-gradient(bottom);
  }
}
