form.form-elements__element-wrapper.form-elements__mid-element.form-subscribe-email
  label.form-elements__element-label(for = 'subscribe') subscription text field
  input.form-elements__element-input(placeholder = 'Email', id = 'subscribe', type = 'email')
  input(type='submit' value='').form-subscribe-email__input-submit.form-elements__arrow-submit
