form.element__wrapper.element__width-middle.form-subscribe-email
  label.element__label(for = 'subscribe') subscription text field
  input.element__input(placeholder = 'Email', id = 'subscribe', type = 'email')
  input(type='submit' value='arrow_forward').material-icons.element__icon
