.room-info
  .room-info__element-wrapper
    .material-icons.room-info__icon insert_emoticon
    .room-info__description-wrapper
      .room-info__title Комфорт
      .room-info__text Шумопоглощающие стены
  .room-info__element-wrapper
    .material-icons.room-info__icon location_city
    .room-info__description-wrapper
      .room-info__title Удобство
      .room-info__text Окно в каждой из спален