.card-room-review {
  position: relative;
  width: 27rem;
  height: 25.7rem;
  border: none;

  &__slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 15.1rem;
    overflow: hidden;

    &:hover {
      .card-room-review__slider-arrows {
        opacity: 1;
      }
    }
  }

  &__slider-arrows {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__prev-arrow,
  &__next-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;

    &:hover {
      cursor: pointer;
    }

    & .card-room-review__arrow {
      color: #ffffff;
    }
  }

  &__prev-arrow {
    background: linear-gradient(to left, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 50%));

    & .card-room-review__arrow {
      transform: rotate(90deg);
    }
  }

  &__next-arrow {
    background: linear-gradient(to right, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 50%));

    & .card-room-review__arrow {
      transform: rotate(-90deg);
    }
  }

  &__slider-buttons {
    position: absolute;
    right: 1.5rem;
    bottom: 1.4rem;
    display: flex;
    justify-content: space-between;
    width: 4.1rem;
  }

  &__slider-button {
    width: 0.8rem;
    height: 0.8rem;
    border: 0.1rem solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem $color-dark-shade-30;

    &_active {
      background: #ffffff;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__info-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    row-gap: 0.7rem;
    flex-direction: column;
    width: 100%;
    padding: 2rem 1.6rem 1.6rem 2rem;

    .card__title {
      font-size: 1.9em;
    }

    .card__detailed-title-wrapper {
      column-gap: 0.1rem;
    }
  }

  &__info-string:first-child {
    padding-bottom: 1.1rem;
    border-bottom: 0.1rem solid $color-dark-shade-10;
  }

  &__detailed-subtitle-descr {
    font-size: 1.4em;
  }

  &__detailed-subtitle-wrapper {
    position: relative;
    right: 0.4rem;
    bottom: 0.2rem;
  }
}
