include ../input/input
include ../select/select

.screen-wrapper
  h2.title Form elements
  .form-elements__group-elements
    form.form-elements__form
      +input({condition: 'Default', id: 'email', label: 'Text Field', placeholder: 'Email'})
      +input({condition: 'Hover / Focus', id: 'text', label: 'Text Field', placeholder: 'This is pretty awesome'})(autofocus)
      +select({id: 'select', label: 'Dropdown', optionText: 'Сколько гостей'})
      +input({id: 'input-masked', label: 'masked text field', placeholder: 'ДД.ММ.ГГГГ'})
    include ../date-group/date-group
    include ../filter-date/filter-date
