include ../input/input
include ../dropdown/dropdown
include ../checkbox-buttons/checkbox-buttons
include ../radio-buttons/radio-buttons
include ../date-group/date-group
include ../filter-date/filter-date
include ../form-subscribe-email/form-subscribe-email
include ../toggle/toggle
include ../like-button/like-button
include ../rate-button/rate-button
include ../range-slider/range-slider
include ../pagination/pagination
include ../expand-checkbox-list/expand-checkbox-list
include ../rich-checkbox-buttons/rich-checkbox-buttons
include ../bullet-list/bullet-list
include ../room-info/room-info
include ../comment/comment

.screen-wrapper.form-elements
  h2.title Form elements
  .form-elements__group-elements
    form.form-elements__form
      +input({condition: "Default", id: "email", label: "Text Field", placeholder: "Email"})
      +input({condition: "Hover / Focus", id: "text", label: "Text Field", placeholder: "This is pretty awesome"})(autofocus)
      +dropdown({id: "dropdown", title: "Dropdown", type: "guests"})
      +input({id: "input-masked", label: "masked text field", placeholder: "ДД.ММ.ГГГГ", pattern: "(0[1-9]|[12][0-9]|3[01]).(0[1-9]|1[012]).202[4-6]", title: "Введите дату в формате ДД.ММ.ГГГГ"})
    +date-group({firstDateLabel: "date Dropdown", secondDateLabel: "date Dropdown", secondDateValue: "2019-08-19", id: "date-group"})
    +filter-date({title: "filter date dropdown"})
    +form-subscribe-email({id: "subscribe", title: "subscription text field"})
  .form-elements__group-elements
    +checkbox-buttons({title: "Checkbox Buttons"})
    +radio-buttons({label: true})
    .element__wrapper.toggle
      .element__label.input-buttons__legend.form-elements__toggle-lable Toggle
      +toggle({checked: true, id: "get-spec"})
      +toggle({checked: false, id: "get-spec-test"})
    .element__wrapper.element__width-tighter.input-buttons__input-wrapper
      .element__label.input-buttons__legend like button
      +like-button({checked: false, id: "like", value: "2"})
      +like-button({checked: true, id: "like-test", value: "12"})
    .element__wrapper.input-buttons__input-wrapper.form-elements__rate-buttons
      .element__label.input-buttons__legend rate button
      +rate-button({id: "rate-button", checked: 4})
      +rate-button({id: "rate-button-test", checked: 5})
  .form-elements__group-elements
    +range-slider({id: "range", title: "Range Slider"})
    include ../buttons/buttons
    .element__wrapper.pagination
      +pagination({withTitle: true})
  .form-elements__group-elements
    +dropdown({id: "dropdown-convenience", title: "Dropdown", condition: "Default", withData: true})
    +dropdown({id: "dropdown-convenience-exp", title: "Dropdown", condition: "expanded", expanded: true, withData: true})
  .form-elements__group-elements.element__width-wide
    +dropdown({id: "dropdown-guests-exp", title: "Dropdown", type: "guests", expanded: true})
  .form-elements__group-elements
    +dropdown({id: "dropdown-guests-exp-1", title: "Dropdown", type: "guests", expanded: true, withData: true})
  .form-elements__group-elements
    +expand-checkbox-list({id: "expand-checkbox-list", label: "expandable checkbox list"})
    +expand-checkbox-list({id: "expand-checkbox-list-exp", label: "expandable checkbox list", expanded: true})
  .form-elements__group-elements
    +rich-checkbox-buttons({title: "rich Checkbox Buttons"})
  .form-elements__group-elements
    .element__wrapper.element__width-middle.bullet-list
      .element__label.bullet-list__label bullet list
      +bullet-list()
  .form-elements__group-elements
    +room-info({comfort: true, convience: true})
  .form-elements__group-elements
    +comment({
      id: "comment", 
      photoSrc: "../common/img/photo-sarafanov.jpg", 
      name: "Мурад Сарафанов", 
      date: "5 дней назад", 
      likes: 12, 
      likeChecked: true,
      arrText: [
        "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.",
        "И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
      ]
    })