.form-elements {
  &__element-wrapper {
    justify-content: space-between;
  }

  &__group-elements {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  &__element-condition {
    order: 1;
    font-size: 1.2em;
    text-align: end;
    color: $color-dark-shade-50;
    text-transform: uppercase;
  }

  &__input-buttons {
    justify-content: start;
    column-gap: 1rem;
  }
}
