.screen-wrapper
  h2.title Form elements
  .form-elements__group-elements
    form.form-elements__form
      .form-elements__input-wrapper
        .form-elements__input-condition Default
        label.form-elements__input-label(for="email") Text Field
        input(placeholder = "Email").form-elements__input#email
      .form-elements__input-wrapper
        .form-elements__input-condition Hover / Focus
        label.form-elements__input-label(for="text") Text Field
        input(placeholder = "This is pretty awesome" autofocus).form-elements__input#text
      .form-elements__input-wrapper
        .form-elements__input-condition Hover / Focus
        label.form-elements__input-label(for="select") Dropdown
        select.form-elements__input#select
          option(disabled selected value="") Сколько гостей