.form-elements {
  &__wide-element {
    width: 32rem;
  }

  &__mid-element {
    width: 26.6rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__group-elements {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__element-input {
    order: 2;
    width: 100%;
    padding: 1.3rem 1.5rem;
    font-size: 1.4em;
    font-family: 'Montserrat', 'Arial', sans-serif;
    border: 0.1rem solid $color-dark-shade-25;
    border-radius: 0.4rem;
    outline: none;

    &::placeholder {
      color: $color-dark-shade-25;
    }

    &:focus,
    &:hover,
    &:active {
      border-color: $color-dark-shade-50;

      &::placeholder {
        color: $color-dark-shade-75;
      }
    }
  }

  &__element-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__element-condition {
    order: 1;
    font-size: 1.2em;
    text-align: end;
    color: $color-dark-shade-50;
    text-transform: uppercase;
  }

  &__element-label {
    order: 0;
    font-weight: 700;
    font-size: 1.2em;
    color: $color-dark-shade-100;
    text-transform: uppercase;
  }

  &__element-dropdown {
    background-image: url('./img/expand_more.svg');
    background-repeat: no-repeat;
    background-position: right 1.5rem center;
  }

  &__arrow-submit {
    background-image: url('./img/arrow_forward.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}
