include ../input/input
include ../select/select
include ../toggle/toggle
include ../like-button/like-button
include ../rate-button/rate-button

.screen-wrapper
  h2.title Form elements
  .form-elements__group-elements
    form.form-elements__form
      +input({condition: 'Default', id: 'email', label: 'Text Field', placeholder: 'Email'})
      +input({condition: 'Hover / Focus', id: 'text', label: 'Text Field', placeholder: 'This is pretty awesome'})(autofocus)
      +select({id: 'select', label: 'Dropdown', optionText: 'Сколько гостей'})
      +input({id: 'input-masked', label: 'masked text field', placeholder: 'ДД.ММ.ГГГГ', pattern: '(0[1-9]|[12][0-9]|3[01]).(0[1-9]|1[012]).202[4-6]', title: 'Введите дату в формате ДД.ММ.ГГГГ'})
    include ../date-group/date-group
    include ../filter-date/filter-date
    include ../form-subscribe-email/form-subscribe-email
  .form-elements__group-elements
    include ../checkbox-buttons/checkbox-buttons
    fieldset.element__wrapper.radio-buttons
      legend.element__label.input-buttons__legend Radio Buttons
      include ../radio-buttons/radio-buttons
    fieldset.element__wrapper.toggle
      legend.element__label.input-buttons__legend Toggle
      +toggle({checked: true, id: 'get-spec'})
      +toggle({checked: false, id: 'get-spec-test'})
    fieldset.element__wrapper.input-buttons__input-wrapper
      legend.element__label.input-buttons__legend like button
      +like-button({checked: false, id: 'like', value: '2'})
      +like-button({checked: true, id: 'like-test', value: '12'})
    fieldset.element__wrapper.input-buttons__input-wrapper
      legend.element__label.input-buttons__legend rate button
      +rate-button({id: 'rate-button', checked: 4})
      +rate-button({id: 'rate-button-test', checked: 5})