include ../buttons/button
include ../date-group/date-group
include ../dropdown/dropdown
include ../card-calendar/card-calendar

mixin card-find-room(data)
  .card
    .card__background
    form.card__form
      h3.card__title Найдём номера под ваши пожелания
      +date-group({id: data.id+"-date", firstDateLabel: "прибытие", secondDateLabel: "выезд"})
      +card-calendar({active: data.activeCalendar})
      +dropdown({id: data.id+"-dropdown", label: "гости", type: "guests", expanded: data.expandGuests, withData: data.withGuests})
      .card__footer
        +button({size:"large", color:"dark", text: "подобрать номер", withArrow: true})