.form-elements__element-wrapper.form-elements__mid-element
  .form-elements__element-label.input-textfilds__element-label filter date dropdown
  .form-elements__element-input.form-elements__element-dropdown 19 авг - 23 авг