mixin bullet-list(data)
  ul.bullet-list__list
    li.bullet-list__list-item Нельзя с питомцами
    li.bullet-list__list-item Без вечеринок и мероприятий
    li.bullet-list__list-item Время прибытия — после 13:00, <br> а выезд до 12:00