.buttons__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
}

.button {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.4rem;
    padding: 0;
    overflow: hidden;
    border-radius: 2.2rem;

    > * {
      position: absolute;
    }

    &:hover {
      cursor: pointer;

      > .button__back {
        opacity: 0.5;
      }
    }
  }

  &__small-width {
    width: 9.9rem;
  }

  &__back {
    width: 100%;
    height: 100%;
  }

  &__button {
    font-weight: 700;
    font-size: 1.2em;
  }

  &_hovered {
    > .button__back {
      opacity: 0.5;
    }
  }
}

.button-dark {
  color: #ffffff;

  > .button__back {
    @include primary-gradient($property: background, $direction: bottom);
  }

  > .button__button {
    color: #ffffff;
  }
}

.button-link {
  padding: 0;
  color: $color-purple;

  &:hover {
    color: $color-dark-shade-50;
  }

  &_hovered {
    color: $color-dark-shade-50;
  }
}
