.element__wrapper.element__width-wide
  .element__label.input-buttons__legend buttons
  .buttons__wrapper
    button.button.button-dark CLICK ME
    button.button.button-dark.button-dark_hovered CLICK ME
    .button-light__wrapper
      button.button.button-light__button CLICK ME
    .button-light__wrapper.button-light__wrapper_hovered
      button.button.button-light__button.button-light__button_hovered CLICK ME