include ../buttons/button

.element__wrapper.element__width-wide
  .element__label.input-buttons__legend buttons
  .buttons__wrapper
    .element__width-middle.buttons__wrapper
      +button({size:'small', color:'dark', text: 'click me'})
      +button({size:'small', color:'dark', text: 'click me', hovered: true})
      +button({size:'small', color:'light', text: 'click me'})
      +button({size:'small', color:'light', text: 'click me', hovered: true})
      +button({type:'link', text: 'click me'})
      +button({type:'link', text: 'click me', hovered: true})
    +button({size:'large', color:'dark', text: 'перейти к оплате', withArrow: true})