.page {
  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__main-wrapper {
    position: relative;
    flex-grow: 1;
    height: calc(100vh - 7rem);
    max-height: 83rem;
    padding: 7rem 13.4rem 2rem 13.3rem;
  }

  &__main-background {
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url('../common/img/background-page.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  &__main {
    display: flex;
    height: 100%;
    margin: 0 auto;
  }

  &__info {
    align-self: flex-end;
    max-width: 29.7rem;
    font-size: 1.4em;
    line-height: 1.7;
    text-align: right;
  }

  &__content-wrapper {
    width: 100%;
    padding: 0 14rem;
    background: #ffffff;

    @media (width <= 1199px) {
      padding-right: 5rem;
      padding-left: 5rem;
    }
  }

  &__content {
    width: 100%;
    max-width: 116rem;
    margin: 0 auto;
  }

  @media (width <= 1199px) {
    &__main-wrapper {
      padding: 2rem 5rem 1rem;
    }
  }

  @media (width <= 699px) {
    &__main-wrapper {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    &__main {
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
    }

    &__info {
      align-self: auto;
      text-align: center;
    }
  }

  @media (width <= 479px) {
    &__main-wrapper {
      padding: 0.5rem 0;
    }
  }
}
