*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

select,
progress[value] {
  appearance: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input {
  background-color: initial;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
