*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin-block: 0;
}

button {
  font: inherit;
  color: unset;
  background-color: unset;
}

h3 {
  font-size: unset;
}

input[type='date']::-webkit-calendar-picker-indicator {
  visibility: hidden;
  opacity: 0;
}

input {
  color: unset;
  background-color: initial;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:focus,
input[type='number']:active {
  outline: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

select,
progress[value] {
  appearance: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

ul {
  list-style-type: none;
}
