.form-elements__date-group
  .form-elements__input-wrapper.form-elements__date-wrapper
    label.form-elements__input-label(for="date-dropdown-start") date Dropdown
    input(type="date").form-elements__input.form-elements__input-select.form-elements__input-date#date-dropdown-start
  .form-elements__input-wrapper.form-elements__date-wrapper
    label.form-elements__input-label(for="date-dropdown-end") date Dropdown
    input(type="date" value="2019-08-19").form-elements__input.form-elements__input-select.form-elements__input-date#date-dropdown-end