.date-group.element__width-wide
  .element__wrapper
    label.element__label(for="date-dropdown-start") date Dropdown
    input(type="date").element__input.date-group__input-date#date-dropdown-start
    i.material-icons.element__icon expand_more
  .element__wrapper
    label.element__label(for="date-dropdown-end") date Dropdown
    input(type="date" value="2019-08-19").element__input.date-group__input-date#date-dropdown-end
    i.material-icons.element__icon expand_more