.date-group {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;

  &__input-date {
    width: 15rem;
    text-transform: uppercase;
    letter-spacing: -0.03em;

    &:hover {
      cursor: pointer;
    }

    & ~ .element__icon {
      top: 2.6rem;
      right: 0.9rem;
      z-index: 1;
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      background: #ffffff;
    }
  }
}
