.form-elements__date-group.date-group.form-elements__wide-element
  .form-elements__element-wrapper
    label.form-elements__element-label.input-textfilds__element-label(for="date-dropdown-start") date Dropdown
    input(type="date").form-elements__element-input.form-elements__element-dropdown.date-group__input-date#date-dropdown-start
  .form-elements__element-wrapper
    label.form-elements__element-label.input-textfilds__element-label(for="date-dropdown-end") date Dropdown
    input(type="date" value="2019-08-19").form-elements__element-input.form-elements__element-dropdown.date-group__input-date#date-dropdown-end