.footer {
  flex-direction: column;
  padding: 0;

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10rem 14rem 10.5rem;
    border-bottom: 0.1rem solid $color-dark-shade-15;
  }

  &__info-text {
    font-size: 1.4em;
    line-height: 1.7;
  }

  &__nav-ul {
    position: relative;
    top: 0.5rem;
    left: 1.9rem;
    display: flex;
  }

  &__nav-li {
    width: 20rem;
  }

  &__nav-item {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    color: $color-dark-shade-50;
  }

  &__nav-item-head {
    font-weight: 700;
    font-size: 1.2em;
    color: $color-dark-shade-100;
    text-transform: uppercase;
  }

  &__nav-item-link {
    font-size: 1.4em;
  }

  &__info-wrapper,
  & .element__width-middle {
    width: 26rem;
  }

  &__subscribe {
    position: relative;
    top: 0.5rem;
    right: 0.1rem;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1.8rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    padding: 0 14rem;
  }

  .element__label {
    padding: 0;
  }

  @media (width <= 1199px) {
    &__nav-ul {
      display: none;
    }

    &__menu {
      justify-content: space-around;
      padding: 10rem 5rem 5rem;
    }

    &__footer {
      padding: 0 5rem;
    }
  }


  @media (width <= 999px) {
    padding-bottom: 11.7rem;

    &__info-text,
    &__subscribe {
      display: none;
    }

    &__menu {
      justify-content: center;
      padding: 12rem 0 2rem;
      border: none;
    }

    &__info-wrapper {
      width: unset;
    }

    &__footer {
      flex-direction: column;
    }
  }

  @media (width <= 699px) {
    padding: 0;

    &__menu {
      padding: 1rem 0;
    }

    &__footer {
      height: auto;
      row-gap: 1rem;
    }
  }
}
