.expand-checkbox-list {
  &__label {
    padding-left: 0;
    font-size: 1.2em;
    background: #ffffff;
    border: none;
  }

  &__icon {
    top: 0;
  }

  &__option {
    justify-content: start;
    height: 0;
  }

  &__expand {
    top: 4.6rem;
    border-top: none;
  }

  &__options-wrapper {
    row-gap: 1rem;
  }

  &__checkbox::after {
    content: '';
    position: absolute;
    top: 2.4rem;
    left: -1rem;
    z-index: -1;
    display: block;
    width: 28.6rem;
    height: 0;
    background: #ffffff;
  }

  @media (width <= 479px) {
    &__icon {
      top: 0.3rem;
    }
  }
}

.expand-checkbox-list__checkbox:checked {
  & ~ .expand-checkbox-list__expand {
    height: 17.1rem;
    padding: 0;
    row-gap: 1rem;
    border: none;

    .expand-checkbox-list__option {
      height: 2rem;
    }
  }

  & ~ .expand-checkbox-list__icon {
    transform: rotateX(180deg);
  }

  &::after {
    height: 18rem;
  }
}
