mixin input(inputData)
  .form-elements__element-wrapper.element__wide
    if inputData.condition
      .form-elements__element-condition= inputData.condition
    label.form-elements__element-label(for!= inputData.id)= inputData.label
    input.form-elements__element-input(placeholder = inputData.placeholder, id = inputData.id, type = inputData.type)&attributes(attributes)