.cards {
  position: relative;
  padding: 0;

  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    max-height: 136rem;
    padding: 15rem 14rem 14rem;
    gap: 4rem;
  }

  &__card-wrapper {
    position: relative;
    height: 36.7rem;
  }

  .card-room-cost {
    margin-top: 0.2rem;
  }
}
