include ../card-find-room/card-find-room
include ../card-reg-account/card-reg-account
include ../card-room-cost/card-room-cost

.screen-wrapper.cards
  h2.title Cards
  .cards__wrapper
    +card-find-room()
    +card-reg-account()
    +card-room-cost()
